@import "tailwindcss";

/* Variables */
@theme {
	/* Container */
	--container-padding: 0 16px;
	--container-max-width: 1280px;

	/* Fonts */
	--font-inter: "Inter", sans-serif;

	/* Colors */
	--color-primary: #cf3737;

	--color-red-500: #f00000;

	--color-gray-50: #fafafa;
	--color-gray-100: #f9f9f9;
	--color-gray-200: #dddddd;
	--color-gray-300: #4d4d4d;
	--color-gray-400: #666666;
	--color-gray-500: #333333;
	--color-gray-600: #999999;

	--color-yellow-400: #fdd835;

	--color-blue-700: #0f0fbc;

	/* Shadows */
	--shadow-sm: 0px 1px 1px 0px rgba(0, 0, 0, 0.08);
	--shadow-md: 1px 1px 8px 0px rgba(0, 0, 0, 0.16);
}

/* Container max-width & paddings */
@utility container {
	@apply mx-auto max-w-[var(--container-max-width)] p-[var(--container-padding)];
}

/* Base Styles */
@layer base {
	h1 {
		@apply text-5xl leading-normal font-extrabold tracking-[0.96px] text-gray-500 max-lg:text-4xl max-md:text-2xl;
	}
	h2 {
		@apply text-2xl font-semibold tracking-[0.48px] text-gray-500 max-md:text-xl;
	}
	p {
		@apply tracking-[0.32px] text-gray-400;
	}
}

/* Swiper Pagination */
.swiper-pagination-bullet {
	width: 12px !important;
	height: 12px !important;
	background: var(--color-gray-200) !important;
	opacity: 1 !important;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active {
	background: var(--color-primary) !important;
}

/* Flatpickr */
.flatpickr {
	display: flex !important;
	align-items: center !important;
	text-align: center;
	justify-content: center !important;
	gap: 8px;
	width: 100%;
	position: relative;
}
.input-icon {
	position: absolute;
	left: 30%;
	top: 50%;
	transform: translateY(-50%);
	@media (width <= 1280px) {
		left: 40%;
	}
	@media (width <= 992px) {
		left: 33%;
	}
	@media (width <= 500px) {
		left: 20%;
	}
	@media (width <= 350px) {
		left: 15%;
	}
}
.flatpickr-input {
	font-size: 14px;
	color: var(--color-gray-300);
	outline: none;
	width: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	text-align: center;
}
.datapicker-overlay {
	display: none;
}
.datapicker-overlay.visible {
	position: fixed;
	inset: 0;

	display: flex;
	z-index: 0;
	@media (width <= 1280px) {
		background: rgba(221, 221, 221, 0.8);
	}
}
.flatpickr-calendar {
	background-color: #fff;
	border-radius: 12px;
	box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.16);
	margin-top: 20px;
}

.flatpickr-prev-month:hover,
.flatpickr-next-month:hover {
	color: #ffeb3b;
}

.flatpickr-weekdays {
	background-color: #f1f3f5;
	font-weight: bold;
	color: #333;
}

.flatpickr-day {
	color: #333;
	border-radius: 50%;
	transition: all 0.2s ease;
	font-weight: 500 !important;
}

.flatpickr-day.selected {
	background-color: var(--color-primary) !important;
	color: #fff;
	border: none !important;
}

.flatpickr-day:hover {
	background-color: var(--color-gray-200) !important;
	color: var(--color-primary) !important;
}

/* Сегодняшний день */
.flatpickr-day.today {
	border: 1px solid var(--color-primary) !important;
}
