@import "tailwindcss";

/* Variables */
@theme {
	/* Container */
	--container-padding: 0 16px;
	--container-max-width: 1280px;

	/* Fonts */
	--font-inter: "Inter", sans-serif;

	/* Colors */
	--color-primary: #cf3737;

	--color-red-500: #f00000;

	--color-gray-50: #fafafa;
	--color-gray-100: #f9f9f9;
	--color-gray-200: #dddddd;
	--color-gray-300: #4d4d4d;
	--color-gray-400: #666666;
	--color-gray-500: #333333;

	--color-yellow-400: #fdd835;

	/* Shadows */
	--shadow-sm: 0px 1px 1px 0px rgba(0, 0, 0, 0.08);
	--shadow-md: 1px 1px 8px 0px rgba(0, 0, 0, 0.16);
}

/* Container max-width & paddings */
@utility container {
	@apply mx-auto max-w-[var(--container-max-width)] p-[var(--container-padding)];
}

/* Base Styles */
@layer base {
	h1 {
		@apply text-5xl leading-normal font-extrabold tracking-[0.96px] text-gray-500 max-lg:text-4xl max-md:text-2xl;
	}
	h2 {
		@apply text-2xl font-semibold tracking-[0.48px] text-gray-500 max-md:text-xl;
	}
	p {
		@apply tracking-[0.32px] text-gray-400;
	}
}

/* Swiper Pagination */
.swiper-pagination-bullet {
	width: 12px !important;
	height: 12px !important;
	background: var(--color-gray-200) !important;
	opacity: 1 !important;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active {
	background: var(--color-primary) !important;
}
